body {
    font-family: Calibri;
    padding-bottom: 5em;
}

.tab_space {
    margin-left: 2em;
}

.reserved_func {
    color: blue;
}

.reserved_let {
    color: red;
}

#div_answerkey {
    margin-top: 10em;
}