.div_buttons {
    display: flex;
}

#button_add, #button_delete {
    margin-top: 10px;
}

#button_add {
    justify-self: flex-start;
}

#button_delete {
    justify-self: flex-end;
}

#button_create {
    margin: 10px 0;
}
